<div class="jumbotron text-center home">
	<h1>Welcome to The Locker Room</h1>
	<h3>Where sports fans connect with each other, no matter where they are.</h3>
	<br>
	<div>
		<div>
			<h3>Join the Team!</h3>
		</div>

		<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="WL4QrEPxl74IL2smXbQNA5FHWttfD4Ggy3nO4d+kFngRdZdoBbKBT0guac673YRvY3JUzVzYHMWbf8G3A4JT1g==">
		  
		  <div class="field">
		    <label for="user_email">
		    	<input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="Email" class="form-control">
			</label>
		  </div>

		  <div class="field">
		    <label for="user_password">
		    
		    <input autocomplete="off" type="password" name="user[password]" id="user_password" placeholder="Password" class="form-control"></label>
		  </div>

		  <div class="field">
		    <label for="user_password_confirmation">
		    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Confirm Password" class="form-control"><div id="password"><em>*Password must be at least 8 characters</em></div></label>
		  </div>

		  <div class="actions form-group">
		    <input class="btn btn-primary" type="submit" name="commit" value="Join">
		  </div>
		</form>
		<a href="/users/sign_in">Open Locker</a>
	</div>
</div>

	