@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {

	/*Gradient from http://uigradients.com/#TealLove by @_ighosh.*/
	background: #d42729; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #d42729 , #0157ae, #d42729); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #d42729 , #0157ae, #d42729); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	color: #000000;
}

body {
	background: #74747D;
}

.row {
	color: #000000;
}

#header-logo {
	color: #ffffff;
	font-size: 25px;
}

i {
	color: #ffd700;
}

#password {
	font-size: 10px;
}

.list-btn {
	color: #ffffff;
}

.alert-notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}